.App {
  width: inherit;
  height: inherit;
  min-height: 100vh;
  text-align: center;
  background-color: #111;
  background-image: url("./../img/car_background.jpg");
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) {
  .App {
    background-image: none;
    background-color:#111;
  }
}

.containerLabel {
  text-align: left;
}

.icon {
  margin: 0px 5px;
}
