.navbar {
    background-color:#2b2b2b;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px black;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color:#2b2b2b;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 0px 2px black;   
}

.footer-text {
    color: #ccc;
}



.navbarLogo {
    text-decoration: none;
    color: #ccc;
    font-family: 'Yeon Sung', cursive;
    font-weight: bold;
    font-size: 20px;
}

    .navbarLogo:hover {
        text-decoration: none;
        color: #ccc;
        cursor: pointer;
    }

.navbarText {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

    .navbarText:hover {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

.footerText {
    text-decoration: none;
    color: #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

.link {
    text-decoration: none;
    color: #aaa;
}

    .link:hover {
        color: #fff;
        text-decoration: none;
    }

.custom-toggler .navbar-toggler-icon {
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
    background-image: url("./../img/menu.png");
}

.custom-toggler .navbar-toggler {
    border-color: #eee;
}

.container {
    display: flex;
    justify-content: center;
}


