.input {
    background-color: #ccc;
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
}
    .input:hover {
        box-shadow: 0px 0px 3px red; 
    }
    .input:focus {
        box-shadow: 0px 0px 3px red;
    }

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
}

    .linkForm:hover {
        color: #4db8ff;
        text-decoration: none;
    }